@model Session1.Models.AccountBookViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountBookViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcountDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcountDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
