@model Session1.Models.AccountBookViewModel

@{
    ViewBag.Title = "Index";
}

<h2>我的記帳本</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <!--<h4>AccountBookViewModel</h4>-->
        <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.iden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iden, new { htmlAttributes = new { @class = "form-control  col-md-8" } })
                @Html.ValidationMessageFor(model => model.iden, "", new { @class = "text-danger" })
            </div>
        </div>
        -->
        <div class="form-group">
            @Html.LabelFor(model => model.AccountType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Html.EditorFor(model => model.AccountType, new { htmlAttributes = new { @class = "form-control  col-md-8" } })*@
                @Html.DropDownList("AccountType", (IEnumerable<SelectListItem>) ViewBag.AccountTypeItems, new { htmlAttributes = new { @class = "dropdown-toggle" } })
                @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "金額" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcountDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AcountDate, new {  htmlAttributes = new { @class = "form-control Wdate", @placeholder = "日期!!!!!", data_provide = "text-danger" } })
                @*new Dictionary<string, object> { { "data-provide", "datepicker" } })*@
                @Html.ValidationMessageFor(model => model.AcountDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Mome, new { htmlAttributes = new { @class = "form-control", @spellcheck = "true", @placeholder = "備註" } })
                @Html.ValidationMessageFor(model => model.Mome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Action("GetAccountBookList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    @*加入前端辨斷*@
    @Scripts.Render("~/Scripts/ExpansionFilters.js")



    @*加入日期選擇器 欄位Class加入Wdate*@
    @Scripts.Render("~/Scripts/My97DatePicker/WdatePicker.js")
    @*將欄位Click事件綁定WdatePicker()*@  
    <script type="text/javascript">
        $(".Wdate").click(function() {
            WdatePicker()
        })
    </script>


}


